services:
  web:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
  # db:
  #   image: mysql:latest
  #   environment:
  #     MYSQL_ROOT_PASSWORD: password
  #     MYSQL_DATABASE: fake_db
  #   ports:
  #     - "3306:3306"
  # phpmyadmin:
  #   image: phpmyadmin/phpmyadmin
  #   ports:
  #     - "8080:80"
  #   environment:
  #     PMA_HOST: db
  #     PMA_PORT: 3306
  #   depends_on:
  #     - db
